<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loha.flippedclassroom.mapper.KlassStudentMapper">

    <insert id="insertKlassStudent" parameterType="Map">
        insert into klass_student(klass_id,student_id,course_id)
        values (#{klassId},#{studentId},#{courseId})
    </insert>

    <select id="selectCourseIdByStudentId" parameterType="Long" resultType="Long">
        select course_id from klass_student where student_id=#{value}
    </select>

    <select id="selectTeamIdByStudentCourseId" parameterType="Map" resultType="Long">
        select team_id from klass_student
        where course_id=#{courseId} and student_id=#{studentId}
    </select>

    <update id="updateStudentStatusInTeam" parameterType="Map">
        update klass_student
        set team_id=#{teamId}
        where course_id=#{courseId} and student_id=#{studentId}
    </update>


</mapper>