<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loha.flippedclassroom.mapper.SeminarMapper">
    <resultMap id="seminarMap" type="Seminar">
        <id column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="round_id" property="roundId"/>
        <result column="seminar_name" property="seminarName"/>
        <result column="introduction" property="introduction"/>
        <result column="max_team" property="teamLimit"/>
        <result column="is_visible" property="isVisible"/>
        <result column="seminar_serial" property="seminarSerial"/>
        <result column="enroll_start_time" property="enrollStartTime"/>
        <result column="enroll_end_time" property="enrollEndTime"/>
        <association property="course" select="com.loha.flippedclassroom.mapper.CourseMapper.selectCourseById" column="course_id"></association>
    </resultMap>

    <select id="selectSeminarByRoundId" parameterType="Long" resultMap="seminarMap">
        select * from seminar where round_id=#{value}
    </select>

    <select id="selectSeminarById" parameterType="Long" resultMap="seminarMap">
        select * from seminar where id=#{value}
    </select>

    <insert id="createSeminar" parameterType="seminar">
        insert into seminar (course_id, round_id, seminar_name, introduction, max_team, is_visible, seminar_serial, enroll_start_time, enroll_end_time)
        values (#{course.id},#{roundId},#{seminarName},#{introduction},#{teamLimit},#{isVisible},#{seminarSerial},#{enrollStartTime},#{enrollEndTime})
    </insert>

    <update id="updateSeminar" parameterType="seminar">
        update seminar set seminar_name=#{seminarName}, introduction=#{introduction}, max_team=#{teamLimit},
        is_visible=#{isVisible}, seminar_serial=#{seminarSerial},enroll_start_time=#{enrollStartTime},
        enroll_end_time=#{enrollEndTime} where id=#{id}
    </update>

    <delete id="deleteSeminar">
        delete from seminar where id=#{id}
    </delete>
</mapper>